services:
  db:
    image: postgres:15
    container_name: warehouse_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ws_user
      POSTGRES_PASSWORD: ws_pass
      POSTGRES_DB: warehouse_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: warehouse_backend
    restart: unless-stopped
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ASPNETCORE_URLS: "http://+:80"

    ports:
      - "5000:80"
    depends_on:
      - db

volumes:
  postgres_data: